* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 49, 49, 0.232);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    cursor: not-allowed;
}

#startBtn, #guideBtn {
    width: 10.45rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 0.45rem;
    transition: all .3s ease-in-out;
}

#startBtn:hover {
    background-color: #b3b3b3;
    color: #fff;
}

.main-screen {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #b3b3b3;
    flex-direction: column;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    user-select: none;
}

.nav-group h1 {
    text-transform: uppercase;
}

.score {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.nav-group button {
    width: 10rem;
    font-size: 1.3rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem;
    border: none;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}

.game-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    gap: 6rem;
    user-select: none;
}

.btn-group {
    display: flex;
    gap: 5rem;
}

.game-btn {
    width: 10.5rem;
    height: 3.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.45rem;
    text-transform: capitalize;
}

.game-btn:active {
    background-color: #828282;
    color: #fff;
}

#number {
    font-size: 10rem;
}